/*Browser Reset */
* {
    margin: 0;
    padding: 0;

  }


/*Body*/
body{
    /*--fovourite-purple-if--main-color is invalid and blue if--favourite--purple is invalid*/
font-family: 'Source Sans Pro', sans-serif;
max-width: 100%;
font-size: 17px;
line-height: 1.4em;
overflow-x: hidden;
--custom-blueviolet: blueviolet;
--main-color:var(--custom-blueviolet);
}

/*navigation-bar*/

.nav{
    display: flex;
    height: 100px; 
    justify-content: space-between;
    margin: auto;
    border-bottom: 1px solid black;
    padding:  0 30px;
}

.nav ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    align-self: center;
    font-weight: bold;
}

.nav ul li a {
    text-decoration: none;
    color: var(--custom-blueviolet);
}

.logo{
    width:200px;
    
}

/*main-body*/

h4 {
    font-family: 'Gilda Display', serif;
}



.hero-baner{
    background-image: url(./images/pexels-engin-akyurt-1435909.jpg);
    height: 500px;
    width: 100%;
    margin: auto;
    background-size: cover;
    display: flex;
}


.shadow-box {
    background-color: #272725;
    margin: auto;
    width: 350px;
    opacity: 0.8;
}

.text-over {
    margin: auto;   
    width: 100%;
    color: white;
    line-height: 1.5;
    letter-spacing: 1px;
}

#big {
    font-size: 50px;
    margin: auto;
    text-align: center;
}

/*Thinking About*/


.container-cooking p{
    font-family: 'Source Sans Pro';
    width: 700px;
    margin: auto;
    line-height: 1.8;
     text-align: justify;
}

/*Menu*/
.oftheday{
    text-align: center;
    margin: 10px;
    padding: 10px;
    color:white;
    font-size: 80px;
}

.oftheday:hover{
    color: blueviolet;
}

.main2>h2>a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    filter: drop-shadow(6px 5px 9px purple);
}

.main2{
    line-height: 5em;
    text-align: center;
    margin: 30px 0;
    padding: 10px;
    height:590px;
    background-image: url(images/pexels-rama-khandkar-2113556.jpg);
    background-position: center;
    background-size: cover;
}


.preparation,
.nutrition,
.method,
.ingredient{
    color: var(--custom-blueviolet);
}



/*PHOTOGALLERY*/

.morephoto{
   text-align: center;
   border-bottom: solid;
   color: blueviolet;
}


/*RECIPES*/

.title{
    color: var(--custom-blueviolet);
    text-align: center;
    align-self: center;
    padding: 10px;
    font-size: 60px;
    margin: 30px 0;
}


.name{
    text-align: center;
    color: white;
    font-size: 30px;
    position: relative;
    top: 150px;
    color: white;
    background-color: grey ;
    margin: 0 202px;
    padding: 10px;
    opacity: 0.9;
}


.photo-recipe{
   display: block;
    margin-left: auto;
    margin-right: auto;
    width:60%; 
}


.information-prep{
    display: flex;
    width: 60%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: beige;
    
}

.prep-time img,
.cook-time img,
.serving img,
.preparation img{
    width: 30px;
    float: left;
    position: relative;
    top:10px;
    left: 20px;
}

.prep-time,
.cook-time,
.serving,
.preparation{
    width: 190px;
    border-right: 2px solid white;
    padding: 5px 0;
}

.information-prep p{
    margin: auto;
    padding: auto;
    text-align: center;
    color: gray;
}

/*BANNER INGREDIENT AND NUTRITION*/
.banner {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 20px;
    filter: drop-shadow(2px 3px 4px black);
}

.ingredients-banner{
    width: 4sxn 3XY RH 0%;
    margin: 5px 10px;
    padding: 10px 30px;
    background-color: floralwhite;
    border-radius: 8px;
}


.ingredients-banner h4{
    text-align: center;
    margin: 20px; 
}


.ingredients-banner img{
    float: left;
   width: 40px;
   position: relative;
   top: 10px;
    
}

.list1{
    background-color: white;
    margin: 0;
    padding: 30px;
    border-radius: 10px;
}

.list1 ul{
  list-style: circle;
    line-height: 2em;
}

.nutrition-banner {
    width: 30%;
    background-color: floralwhite;
    padding: 0 30px;
    margin: 0 10px;
    border-radius: 8px;
    height: fit-content;
}

.nutrition-banner h4{
    margin: 20px;
    padding-right: 20px;
    text-align: center;
}

.nutrition-banner img{
    float: left;
   width:35px;
   position: relative;
   top: 15px;
   
}

.list2{
     background-color: white;
    text-align-last: justify;
    border-radius: 10px; 
}

.list2 ul li{
    border-bottom-style: dotted;
    font-family: 'Source Sans Pro';
    justify-self: start;
    list-style: none;
    line-height: 2.5em;
    text-align: center; 
    margin:10px
}


/*Preparation*/
.methode{
    background-color: floralwhite;
    width:70%;
    line-height: 1.5em;
    text-align: justify;
   padding: 20px 30px;
    border-radius: 10px; 
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(2px 3px 4px black);
}


.methode img{  
    width: 35px; 
    position: relative;
    top: 30px;
    left: 40px;
}

.methode h4{
    text-align: center;
}

.methode1{
    text-align: center;
}

.description{
    background-color: white;
    border-radius: 10px;
    line-height: 1.9em;
    margin: 20px;
    padding: inherit;
}


.next{
    position: relative;
    top: 90px;
    left: 500px;
    display: flex;
    text-align: center;
    transform: translate(-50% , -50%);
    width: 10vw;
    height: 10vw;
    background: linear-gradient(-45deg, #686FFD, #F1A73F, #686FFD, #F1A73F);
    background-size: 400% 400%;
    background-position: 0 10%;    
    box-shadow: 0px 0px 10px black;
    cursor: pointer;
    border-radius: 50%;
}

.next a{
    text-align: center;
    margin: auto;
    color: white;
    text-decoration: none;
    font-weight: 600; 
}

/*FOOTER*/

footer {
    text-align: center;
    font-size: 10p3;
    line-height: 1.5em;
    margin-top: 90px ;
    padding: 10px 0;
    width: 100%;
    background-color: gray;
    color: white;
    font-weight: 600;
    text-decoration: none;  
}

footer a{
    text-decoration: none;
     color: white;   
}

.dots{
text-align: center;
    margin: 40px 0;
}

/*phone*/
@media only screen and (max-width: 480px){


.hero-baner{
    height: 350px;
}

.main2{
    height: 300px;
}

h1.oftheday{
    font-size: 30px;
}

h2.main2{
    font-size: 14px;
    line-height: 1.4;
}

    .next{
        font-size: 18px;
        width: 60px;
        height: 60px;
      }

      .next a{
        font-size: 12px;
      }


h1.title {
    font-size: 25px;
    margin: 0;
    padding-top: 20px;
}

.photo-recipe {
    width: 100%;
}

h2.name {
    margin-left: auto;
    margin-right: auto;
    padding: auto;
    font-size: 20px;
    max-width: 100%;
}


.information-prep{
    width: 100%;
    font-size: 14px;
}

.list1,
.list2,
.description{
    font-size: 14px;
}

.nutrition-banner h4,
.ingredients-banner h4,
.methode h4{
    font-size: 16px;
}

.banner{
    width: 100%;
}


.description{
    width: 100%;
    margin: 0;
    padding: 1px;
}
}

/*SMARTPHONE*/

@media only screen and (max-width: 767px){
 
  
    .oftheday{
        font-size: 40px;   
    }
    .photogallery {
        font-size: 40px;
        margin: auto;
        font-weight: 900;
    }
    .container-cooking p{
    max-width: 90%;    
}
    
    .nav{
        display: block;
        text-align: center;
        line-height: 0.5px;      
    }
    
    .nav ul{
        justify-content: center;
    }
    
    .logo{
        width: 150px;
    }
    
    .photogallery{
       height: 50px;
    }
    
    .nav ul li a{
        font-size: 19px;
    }
    
    .nutrition-banner,
    .ingredients-banner{
    width: 80%;
    margin: auto;
    }

    .nutrition-banner h4{
        padding-top: 20px;
    }
    
    
    .ingredients-banner img,
    .nutrition-banner img,
    .methode img,
    .prep-time img,
    .cook-time img,
    .serving img,
    .preparation img{
      display: none;
    }
    
    .methode{
        width:80%;
        margin:  auto;
    }
    
    .banner{
        display: block;
     width: 100%;
    }

    .next{
      position: relative;
      left: 280px;
    }

    .next a{
        font-size: 12px;
    }
    
    .name{
    margin-left: auto;
    margin-right: auto;
    padding: auto;
    font-size: 15px;
    max-width: 56.6%;
    
    }

    .title{
        margin: 15px 0;
        font-size: 2.5em;
    }

    .owl-carousel .owl-item img{
    margin: auto;
    max-width: 50%;
    }
}

/*TABLET*/
@media only screen and (min-width:768px) and (max-width: 1023px){


    .name{
        margin-left: auto;
        margin-right: auto;
        padding: auto;
        font-size: 15px;
        max-width: 57.5%;
        }


    .banner{
        width: 100%;
    }

    
    .information-prep{
        width: 60%; 
    }

    .prep-time img,
    .cook-time img,
    .serving img,
    .preparation img{
        position: inherit;  
        margin-left: 5px;
    }

    .methode{
        width: 90%;
        margin: 10px auto; 
    }

    .next{
    position: relative;
    left:400px;
    }
    
.next a{
    font-size: 15px;
}
}