/*Browser Reset */
* {
    margin: 0;
    padding: 0;
  }

  .max-width{
    max-width: 100%;
  }

/*Body*/
body{
    /*--fovourite-purple-if--main-color is invalid and blue if--favourite--purple is invalid*/
font-family: 'Source Sans Pro', serif, sans-serif;
width: 100%;
font-size: 17px;
line-height: 1.4em;
overflow-x: hidden;
margin:auto;
padding: auto;
--custom-blueviolet: blueviolet;
--main-color:var(--custom-blueviolet)
}

/*navigation-bar*/

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    height: 100px; 
    border-bottom: 2px solid gray;
}

.nav ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
    justify-content: center;
    margin: 10px;
    align-self: center;
    margin-right: 20px;  
}

.nav ul li a {
    text-decoration: none;
    font-weight: 600;
    color: var(--custom-blueviolet);
}

.logo {
    margin-left: 30px;
    padding: 0;
   width:200px;
}

/*main-body*/

.hero-baner{
    background-image: url(./images/stock-photo-1036719002.jpg);
    height: 400px;
    width: 100%;
    margin: auto;
    background-size: cover;
    display: flex;
}


.shadow-box {
    background-color: #272725;
    margin: auto;
    width: 350px;
    opacity: 0.8;
}

.text-over {
    margin: auto;   
    width: 100%;
    color: white;
    line-height: 1.5;
    letter-spacing: 1px;
}

#big {
    font-size: 50px;
    margin: auto;
    text-align: center;
}

/*Thinking About*/
.container-cooking{
    text-align: justify;
    
}

.container-cooking p{
    font-family: 'Source Sans Pro';
    width: 700px;
    margin: auto;
    line-height: 1.8;

}

/*Menu*/
.oftheday{
    text-align: center;
    margin: 10px;
    padding: 10px;
    color:white;
    font-size: 80px;  
}

.oftheday:hover{
    color: blueviolet;
}

.main2>h2>a{
    text-decoration: none;
    color: white;
    
}

.main2{
    line-height: 2.5em;
    text-align: center;
    margin: 30px 0;
    padding: 10px;
    height:400px;
    background-image: url(images/pexels-fariborz-mp-9481570.jpg);
    background-position: center;
    background-size: cover;
}

.main2:hover{
    font-size: 20px;
    color: blueviolet;
}


.preparation,
.nutrition,
.method,
.ingredient
{
    color: var(--custom-blueviolet);
}



/*PHOTOGALLERY*/

.photogallery{
    color:var(--main-color);
    text-align: center;
    font-size: 70px;
    height: 100px;
    margin-top: 90px;
}

.morephoto{
   text-align: center;
   border-bottom: solid;
   color: blueviolet;
}


/*RECIPES*/

.title{
    color: var(--custom-blueviolet);
    text-align: center;
    align-self: center;
    padding: 20px;
    font-size: 60px;
    margin: 50px;
}


.name{
    text-align: center;
    padding: 20px;
    color: blueviolet;
    font-family: 'Source Sans Pro';
    font-size: 50px;  
}


.photo-recipe{
   display: block;
    margin-left: auto;
    margin-right: auto;
    width:60%; 
    
}


.information-prep{
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: beige;
    justify-content: space-between;
}

.prep-time img,
.cook-time img,
.serving img,
.preparation img{
    width: 30px;
    float: left;
    position: relative;
    top:10px;
    left: 10px;
}

.prep-time,
.cook-time,
.serving,
.preparation{
    width: 160px;
    border-right: 2px solid white;
    padding: 5px 0;
}

.information-prep p{
    margin: auto;
    padding: auto;
    text-align: center;
    color: gray;
}

/*BANNER INGREDIENT AND NUTRITION*/
.banner {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

.ingredients-banner{
    width: 40%;
    margin: 5px 10px;
    padding: 10px 30px;
    background-color: floralwhite;
    border-radius: 8px;
}


.ingredients-banner p{
    text-align: center;
    font-size: 20px;
    font-family:monospace;
    margin: 20px;
    
}


.ingredients-banner img{
    float: left;
    position: relative;
    top:8px;
    left:15px;
}

.list1{
    background-color: white;
    margin: 20px;
    padding: 30px;
    border-radius: 10px;
}

.list1 ul{
  list-style: circle;
    font-family: 'Source Sans Pro';
    line-height: 2em;
}

.nutrition-banner {
    width: 30%;
    background-color: floralwhite;
    padding: 0px 30px;
    margin: 0px 10px;
    border-radius: 8px;
}

.nutrition-banner p{
    margin: 10px;
    padding-right: 20px;
    text-align: center;
}

.nutrition-banner img{
    float: left;
    position: relative;
    top: 15px;
}

.list2{
     background-color: white;
    text-align-last: justify;
    border-radius: 10px;
    
}

.list2 ul li{
    border-bottom-style: dotted;
    font-family: 'Source Sans Pro';
    list-style: none;
    line-height: 2.5em;
    margin: 10px
}
/*Preparation*/
.methode{
    background-color: floralwhite;
    width:50%;
     font-family: 'Source Sans Pro';
    line-height: 1.5em;
    text-align: justify;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    border-radius: 10px;
    
}


.methode img{
    float:left;
    
}

.methode p{
    margin: 20px;
}

.methode1{
    font-family: monospace;
    font-size: 20px;
    text-align: center;
}

.description{
    background-color: white; 
    border-radius: 10px;
}


.next{
    position: relative;
    top: 90px;
    left: 650px;
    display: flex;
    text-align: center;
    transform: translate(-50% , -50%);
    width: 10vw;
    height: 10vw;
    background: linear-gradient(-45deg, #686FFD, #F1A73F, #686FFD, #F1A73F);
    background-size: 400% 400%;
    background-position: 0 10%;    
    box-shadow: 0px 0px 20px black;
    cursor: pointer;
    border-radius: 50%;
    
}

.next a{
    text-align: center;
    margin: auto;
    color: white;
    text-decoration: none;
    font-weight: 600; 
}



/*FOOTER*/

footer {
    text-align: center;
    font-size: 10p3;
    line-height: 1.5em;
    margin-top: 90px ;
    padding: 10px 0;
    width: 100%;
    background-color: rgb(212, 189, 233);
    color: white;
    font-weight: 600;
    text-decoration: none;
    
}

footer a{
    text-decoration: none;
     color: white;
    
}

/*SMARTPHONE*/

@media sreen and(max-width:767px)
{
 
    
}

/*TABLET*/
@media sreen and(min-width:768px) and (max-width: 1023px){
     
    
}